<h1>Add details about the new landmark below:</h1>


<form action="/landmarks" method="POST">
	<strong>Landmark Name:</strong>
	<input type="text" name="landmark[name]" id="landmark_name">
	<br></br>

	<strong>Landmark Year Completed:</strong>
	<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
	<br></br>
	

	<input type="submit" value="Create New Landmark">

</form>